#main-container {
    display: block;
    width: 400px;
    height: auto;
    max-height: 400px;
    padding: 1.0rem;
}

#invalid-url-wrapper {
    margin-top: 10px;
}

.list-group {
    margin: 10px 0;
}

