<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!-- Popup css -->
        <link rel="stylesheet" type="text/css" href="../style/style.css">
    </head>
    <body>
        <div class="container-fluid" id="main-container">
            <div class="btn-group" role="group" aria-label="Save Search" id="save-search-wrapper">
                <button type="button" id="save-search" class="btn btn-sm btn-primary" disabled>Save This Page</button>
                <button type="button" id="update-searches" class="btn btn-sm btn-outline-secondary">Refresh</button>
            </div>
            <div class="alert alert-info" id="invalid-url-wrapper">
                Please go to a valid search page to save your search!
            </div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    <div>
                        <a href="">Craigslist - Something or another</a> <span class="badge badge-success">21</span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">
                    <div>
                        <a href="">Craigslist - Jewelery</a> <span class="badge badge-success">7</span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
                <li class="list-group-item list-group-item-action">
                    <div>
                        <a href="">Search page 1</a> <span class="badge badge-success">3</span>
                        <button type="button" class="close" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Javascript tools -->
        <script type="text/javascript" src="../scripts/tools/date-parser.js"></script>
        <!-- Javascript popup -->
        <script type="text/javascript" src="../scripts/popup/notifier.js"></script>
        <script stype="text/javascript" src="../scripts/popup/valid-url.js"></script>
        <script stype="text/javascript" src="../scripts/popup/save-search.js"></script>
    </body>
</html>

