<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../style/style.css"/>
    </head>
    <body>
        <div id="container">
            <div id="no-saved-searches" hidden>
                <p>
                    You have no saved searches! Search for items on Facebook
                    or Craigslist and try again.
                </p>
                <a href="http://craigslist.org">Craigslist</a>
                <a href="http://facebook.com/marketplace">Facebook Markeplace</a>
            </div>
        </div>
        <div id="categories" hidden>
            <p>Saved categories:</p>
            <div class="category">
                <button class="category-goto">Cool Car</button>
                <button class="category-del">Remove category</button>
            </div>
            <div class="category">
                <button class="category-goto">Computer parts</button>
                <button class="category-del">Remove category</button>
            </div>
        </div>
        <div id="searches" >
            <button id="back">Back to categories</button>
            <div id="filter">
                <span>Showing</span>
                <button id="show-all">All</button>
                <button id="show-cl">Craigslist</button>
                <button id="show-fb">Facebook Marketplace</button>
            </div>
            <ul id="posts">
                <li>
                    <img src="" height=50 width=50/>
                    <div>
                        <a href="">Title of Post</a>
                        <p>Some description of this post and...</p>
                        <button class="goto-post">Go</button>
                        <button class="clear-post">Clear</button>
                    </div>
                </li>
                <li>
                    <img src="" height=50 width=50/>
                    <div>
                        <a href="">Title of Post</a>
                        <p>Some description of this post and...</p>
                        <button class="goto-post">Go</button>
                        <button class="clear-post">Clear</button>
                    </div>
                </li>
                <li class="post">
                    <img src="" height=50 width=50/>
                    <div>
                        <a href="">Title of Post</a>
                        <p>Some description of this post and...</p>
                        <button class="goto-post">Go</button>
                        <button class="clear-post">Clear</button>
                    </div>
                </li>
            </ul>
        </div>

        <div id="save-search-wrapper">
            <button id="save-search" hidden>Save current search page</button>
            <div id="invalid-url-wrapper">
                Please go to a valid search page to save your search!
            </div>
        </div>

        <script type="text/javascript" src="../scripts/notifier.js"></script>
        <script stype="text/javascript" src="../scripts/url-validator.js"></script>
    </body>
</html>

